DataFactory/pipeline/WebActivity and Script.json
{
	"name": "WebActivity and Script",
	"properties": {
		"activities": [
			{
				"name": "WebApp",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "WebApp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('WebApp').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Emp Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "picture",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "name",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "salary",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "age",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ssk2616",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "script_id",
												"type": "Int16",
												"value": {
													"value": "@variables('id')",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "script_employee_name",
												"type": "String",
												"value": {
													"value": "@variables('name')",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "script_employee_age",
												"type": "Int16",
												"value": {
													"value": "@variables('age')",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "script_employee_salary",
												"type": "Int16",
												"value": {
													"value": "@variables('salary')",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "script_profile_image",
												"type": "String",
												"value": {
													"value": "@variables('pic')",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "\nINSERT INTO dbo.employees (id, employee_name, employee_salary,employee_age,profile_image) VALUES (@script_id,@script_employee_name,@script_employee_age,@script_employee_salary,@script_profile_image);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "picture",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pic",
								"value": {
									"value": "@item().profile_image",
									"type": "Expression"
								}
							}
						},
						{
							"name": "name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item().employee_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "salary",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "salary",
								"value": {
									"value": "@item().employee_salary",
									"type": "Expression"
								}
							}
						},
						{
							"name": "age",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "age",
								"value": {
									"value": "@item().employee_age",
									"type": "Expression"
								}
							}
						},
						{
							"name": "id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "id",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"item": {
				"type": "Integer"
			},
			"name": {
				"type": "String"
			},
			"age": {
				"type": "Integer"
			},
			"salary": {
				"type": "Integer"
			},
			"pic": {
				"type": "String"
			},
			"id": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}