DataFactory/pipeline/WebActivity and Script.json
{
	"name": "WebActivity and Script",
	"properties": {
		"activities": [
			{
				"name": "WebApp",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "WebApp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('WebApp').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Emp Insert",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_Sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"dbUserName": "ssk2616"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "id",
												"type": "Int16",
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "employee_name",
												"type": "String",
												"value": {
													"value": "@item().employee_name",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "employee_age",
												"type": "String",
												"value": {
													"value": "@item().employee_age",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "employee_salary",
												"type": "String",
												"value": {
													"value": "@item().employee_salary",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "profile_image",
												"type": "String",
												"value": {
													"value": "@item().profile_image",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "@INSERT INTO dbo.employees (id, employee_name, employee_salary,employee_age,profile_image)\nVALUES (item().id,item().employee_name,item().employee_salary,item().employee_age,item().profile_image);\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"pipeParam": {
				"type": "String"
			}
		},
		"annotations": []
	}
}